@import "../../../assets/css/base.scss";
$viewW:640px;
.zmiti-shareopen-main-ui{

   width: $viewW;
   z-index: 999;
   @include transition(.3s);
   @include transform( translate3d($viewW,0,0)  scale(.8));
   &.hideleft{
   	 @include transform( translate3d(-$viewW,0,0)  scale(.8));
   }

   &.active{
      @include transform( scale(1) translate3d(0,0,0));
   }
   .zmiti-shareopen-main-C{
      @include transition(.4s);
      &.top{
        @include transform( scale(.9) translate3d(0,-30vh,0));  
      }   
   }
   

   &.hideright{
      @include transform( translate3d($viewW,0,0)  scale(.8));
   }

   .zmiti-share-dialog-C{

      z-index: 1000;
      background: rgba(0,0,0,.5);
      @include displayBox(horizontal);

      .zmiti-share-dialog{
         width: 550px;
         @include br(10px);
         height: 450px;
         background: #fff;
         @include displayBox(vertical);
      }

      .zmiti-share-text{
         @include displayBox(vertical);
         &>div{
            -webkit-box-flex:1;
            margin: 40px 0;
         }
         &>div:nth-of-type(1){
            width: 80%;
            margin:0 auto;
            font-size: 32px;
            line-height: 60px;
            span{
               color:#fa1a1a;
               font-size: 60px;
            }
         }
      }

   }


   .zmiti-shareopen-main{
      width: $viewW - 100;
      height: $viewW - 200;
      background: #fff;
      @include pos(r);
      @include br(10px);
      margin:30px auto;
      padding-top:   40px;
      box-sizing:border-box;
      .zmiti-shareopen-img{
         @include pos(a);
         width: 200px;
         margin-top:-30px;
      }
      label{
         max-width: 100px;
         vertical-align: middle;
         font-size: 32px;
         overflow: hidden;
      }
      &>section{
         img{width:70px;margin-left:   20px;}
         color:#00a0e9;
         @include pos(r);

         .zmiti-share-audio{
            width:400px;
            @include pos(a);
            right: 0;
            aside:last-of-type{
               @include pos(a);
               text-align: center;
               left: 350px;
               margin-left:   -20px;
            }
         }         
      }
      &>div{
            font-size: 30px;
            margin:20px auto;
            &:nth-of-type(1){
               text-align:center;
                span{
                  color:#00a0e9;
                  font-size:32px;
                }
               img{
                  width:70px;
                  @include br(50%);
               }
            }
            &:nth-of-type(2){
               text-indent: 100px;
               span{
                  color:#f00;
                  font-size: 36px;
               }
               img{width:60px;margin-left:   30px;}
            }
            &:nth-of-type(3){
               text-indent: 100px;
               font-size:34px;
            }
      }  
   }
   .zmiti-share-btns{
      margin: 0 auto;
      height: 60px;
      width: 500px;
      @include displayBox(horizontal);
      aside{
         background:#00a0e9;
         color:#fff;
         margin: 0 10px;
         height: 60px;
         @include br(30px);
         line-height:   60px;
         padding: 0 20px;
         text-align: center;
         -webkit-box-flex: 1;
         section{
         }      
      }
   }
   .zmiti-share-input-C{
      width: 220px;
      margin:200px auto;
      .zmiti-share-input{
         height: 50px;
         line-height:  50px;
         @include br(10px);
         border:1px solid #444;
         color:#888;
         background:#fff;
         padding:0 20px;
      }
      .zmiti-share-submit{
         text-align: center;
         background: #f90;
         color:#fff;
         width: 100px;
         @include br(10px);
         margin: 20px auto;
         padding:10px ;
         
      }
   }
}