@import "../../../assets/css/base.scss";

$viewW:640px;

.zmiti-result-main-ui{

  .zmiti-mask{
    z-index: 1000;
    
  }

  z-index: 10;
 // @include transform(translate3d($viewW,0,0));
  @include transition(.4s);
  $height:70px;

  &.active{
    @include transform(translate3d(0,0,0));
    z-index: 115001;
  }
  
  &.hideleft{
     @include transform( translate3d(-$viewW,0,0)  scale(.8));
   }
   &.active{
      @include transform( scale(1) translate3d(0,0,0));
   }

   &.hideright{
      @include transform( translate3d($viewW,0,0)  scale(.8));
   }

   .zmiti-result-main{
      width: 100%;
      box-sizing:border-box;
      @include pos(r);
      .zmiti-index-voice{
        @include  pos(a);
        width:184px;
        top:534px;
        left: 50%;
        margin-left: -97px;
       }

      .zmiti-result-ty{
         @include displayBox(horizontal);
         @include pos(r);
         width: 500px;
         height: 550px;
         @include br(10px);
         left: 70px;
         top: 120px;
         overflow: hidden;

         .zmiti-result-age{
            @include pos(a);
            top: 0;
            font-size: 200px;
            color:#ff4800;
            right: 100px;
            background: #fff;
            text-align: center;
            top: 90px;
            
            width: 220px;
            font-weight: bold;
          }
         .zmiti-result-text{
          @include pos(a);
          top: 30px;

          left:30px;
          font-size: 28px;
          span{
            color:#00adfc;
            font-size: 30px;
          }
         }
         &>div{
           width: 100%;
           box-sizing:border-box;
           @include pos(r);
         }
         
      }
      .zmiti-result-begin-read-btn{
         margin: 140px auto 30px;
         width: 240px;
         background: #00afff;
         text-align: center;
         color:#fff;
         padding: 10px 50px;
         @include br(40px);
         font-size: 30px;
      }
      .zmiti-result-reset{
         width: 200px;
         margin: 0 auto;
         text-decoration: underline;
         padding: 10px 20px;
         text-align: center;
         color:#00afff;
         font-size: 30px;
      }
      .zmiti-result-person{
         width: 300px;
         z-index: 10;
         left: 40px;
         @include pos(a);
      }
   }

  
}

